:root {
    --menu-acc: rgb(238, 238, 238);
    --effect: all 275ms ease-in-out;
    --bgcolor: rgb(249, 249, 249);
    --borders: 1px solid lightgray
}

.electric,.ground,.rock {
    background-color: rgb(248, 208, 48);
}

.fire {
    background-color: rgb(253, 125, 36);
}

.bug, .grass {
    background-color: rgb(114, 159, 63);
}

.water,.stellar {
    background-color: rgb(69, 146, 196);
}

.poison,.psychic,.fairy,.flying {
    background-color: rgb(185, 127, 201)
}

.steel,.normal {
    background-color: #9EB7B8
}

.dark {
    background-color: rgb(112, 88, 72)
}

.fighting {
    background-color: rgb(192, 48, 40);
}

.ghost,.dragon {
    background-color: rgb(112, 88, 152);
}

.ice {
    background-color: rgb(152, 216, 216)
}

* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: var(--bgcolor);
    position: relative;
}

html{
    scroll-behavior: smooth;
}

.progress{
    position: sticky;
    top:70px;
    z-index: 10000;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}

#progressBar{
    color:var(--bgcolor) !important;

}

.title{
    padding-inline: 20px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    height: 70px;
    z-index:1000;
    background-color: var(--bgcolor);
    text-align: center;
    box-shadow: 0px -2px 10px rgba(0,0,0,0.2);
}

#pokedexTitle{
    margin: 0;
}

.blur {
    filter: blur(3px);
}

.searchBoxContainer{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#searchBox{
    height: 40px;
    border-radius: 25px;
    width: 30%;
    text-indent: 15px;
    width: 100%;
    max-width: 450px;
    margin-inline: 20px;
}

#pokedex-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .2);
    width: 100vw;
    height: 100vh;
    z-index: 100;

}

#pokedex-top {
    min-height: 30vh;
    color: white;
    padding: 24px;
    border-radius: 10px;
}

.close img{
    width: 50px;
    opacity: .5;
    transition: var(--effect);
}

.close img:hover{
    opacity: 1;
    transition: var(--effect);
}

.pokeball{
    display: flex;
    align-items: center;
    gap: 5px;
}

.pokeball > img{
    width: 40px;
}

.button{
    display: flex;
    flex-direction: row;
    position: absolute;
    width:40px;
}

.button img{
    width: 100%;
}

.next-button{
    right: 20px;
}

.previous-button{
    left:20px;
}

.next-button,
.previous-button{
    transition: var(--effect);
    cursor: pointer;
    top: 15%;
    opacity: .5;
}

.next-button:hover,
.previous-button:hover{
    transition: var(--effect);
    opacity: 1;
}

.upbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: .5;
    transition: opacity 0.3s ease;
}

.upbutton:hover {
    opacity: 1;
    animation: moveUpAndDown 500ms ease 2;
}

@keyframes moveUpAndDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#pokeball:hover{
    animation: rotateBall 500ms ease-in-out;
}

@keyframes rotateBall{
    0%{ 
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.pokedex-bottom {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 40px 40px 10px 10px;
    margin-top: -40px;
    min-height: 100px;
    height: 60vh;
    flex-direction: column;

}

#pokemonImage {
    width: 200px;
    margin-top: -160px;
}

#overview-container {
    padding-top: 20px;
    background-color: var(--bgcolor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#overview-container:has(.smallCard:hover) .smallCard:not(:hover){

    opacity: .7;
    transition: var(--effect);
}

.loadingBarContainer{
    padding-bottom: 20px;
}

.smallCard {
    position: relative;
    padding: 10px;
    width: 250px;
    text-align: center;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1)
}

.smallCard h2{
    padding-bottom: 10px;
}

.smallCardTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.type{
    padding: 5px;
    margin-bottom: 5px;
    width: 100px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 25px;
}

.smallPokemon{
    position: absolute;
    width: 150px;
    right:0px;
    bottom: 00px;
    transition: var(--effect);
}

.smallCard:hover > .smallPokemon{
    transform: scale(1.1) translate(-1px, -5px);
    transition: var(--effect);
}

#pokemonStats {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--menu-acc);
    width: 80%;
    height: 80%;
    overflow-y: auto;
    border-radius: 0 0 10px 10px;
    border-left: var(--borders);
    border-bottom: var(--borders);
    border-right: var(--borders);
}

#statsTable {
    width: 80%;
    padding: 10px;
}

.statsMenuBar {
    display: flex;
    text-align: center;
    width: 80%;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 0;

}

.statsMenuBar div {
    border-radius: 10px 10px 0 0;
    padding: 5px;
    flex-grow: 1;
}

.statsButton{
    border-bottom: var(--borders);
}

.active {
    background-color: var(--menu-acc);
    border-left: var(--borders);;
    border-top: var(--borders);
    border-right: var(--borders);
    border-bottom: none;
}

.statTitle{
    font-weight: bold;
    text-align: center;
    padding-top: 15px
}

#statsTable > :nth-child(1){
    padding-top: 0;
}

.statBody{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.statValue{
    border: var(--borders);
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
}

.moveStats{
    flex:1;
    text-wrap: nowrap;
    text-align: center;
}

#pokedex {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    max-width: 500px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.close:hover {
    color: black
}

.d-none {
    display: none !important;
}

.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

#myChart{
    height: 100%
}

#loadMore{
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.loadMoreBtn{
    width: 100%;
    background-color: rgba(0,0,0,.1);
    border-radius: 25px;
    padding: 13px;
    width: 50%;
    max-width: 200px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: var(--effect);
}

.loadMorebutton:hover{
    background-color: rgba(0,0,0,.2);
    transition: var(--effect);
}

.autoload{
    width: 25px;
    opacity: .2;
    cursor: pointer;
}

.autoloadActive{
    animation: rotateBall 500ms ease-in-out;
    opacity: 1 !important;
}

@media (max-width: 530px) {
    .pokedex-bottom {
        height: 65svh;
        margin-top: -200px;
    }

    #pokedexTitle{
        display:none;
    }

    #pokemonStats {
        background-color: var(--menu-acc);
        overflow-y: auto;
        border-radius: 0 0 10px 10px;
        height: 77%;
        width: 90%;

    }

    #pokemonImage {
        width: 120px;
        margin-top: -70px;
    }

    #pokedex-top {
        margin-bottom: 120px;
    }

    #pokedex {
        height: 100%
    }

    .statValue{
        border: var(--borders);
        border-radius: 10px;
        padding: 5px;
        gap: 5px;
        font-size: small;
    }

    .statsMenuBar div{
        font-size: smaller;
    }
    .statsMenuBar{
        width: 90%;
    }

    .button img{
        width: 80%
    }

    .next-button, .previous-button {
        top: 20%;
    }

    .smallCard {
        position: relative;
        padding: 10px;
        width: 120px;
        text-align: center;
        height: 120px;
        border-radius: 10px;
        cursor: pointer;
        color:white;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1)
    }

    .smallCardTitle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:top;
    }

    .smallCardId{
        font-size: x-small;
    }

    .smallPokemon{
        width: 70px;
    }

    h2{
        font-size: smaller;
    }

    .type{
        width: 40px;
        font-size: xx-small
    }

    .statTitle{
        font-size: smaller;
    }
}