*{
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#pokedex{
    min-height: 50vh;
    background-color: #FB6C6C;
    color:white;
    padding: 24px;
}

.info-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

#pokemonImage{
    width: 250px;
    margin-top: -200px;
}

.card{
    padding: 10px;
    background-color: lightskyblue;
    border: 1px solid black;
}

#pokemonStats{
    background-color: lightcyan;
}