*{
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#pokedex{
    min-height: 50vh;
    background-color: #FB6C6C;
    color:white;
    padding: 24px;
}

.info-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

#pokemonImage{
    width: 250px;
    margin-top: -200px;
}

.card{
    padding: 10px;
    background-color: lightskyblue;
    border: 1px solid black;
}

#pokemonStats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightcyan;
    width: 300px;
}

#statsTable{
    /* table-layout: fixed; */
    width: 100%;
    padding: 10px;

    td:nth-child(1){
        /* width: 200px; */
        width: 100%;
        /* background-color: lightcoral; */
    }
    td:nth-child(2){
        /* background-color: green; */
        width: 100%;
        text-align: center;
        padding: 10px
    }
}

.statsMenuBar{
    display: flex;
    text-align: center;
    width: 300px;
    justify-content: space-between;
}

.statsMenuBar div{
    border-radius: 10px 10px 0 0;
    padding: 5px;
}
.active{
    background-color: red;
}